@font-face {
  font-family: 'nunitoregular';
  src: url("../fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: 'nunitoblack';
  src: url("../fonts/NunitoSans-Black.ttf");
}

body {
  background: #1A1D24;
  background-position: cover;
  min-height:100%;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.headContainer {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}

.logo {
  width: 200px;
  cursor: pointer;
  -webkit-filter: drop-shadow( 0px 0px 10px rgba(0,0,0,.3) );
          filter: drop-shadow( 0px 0px 10px rgba(0,0,0,.3) );
}

.logoLink {
  margin: 0 auto;
}

.loginGroup {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  display: block;
  margin-top: 60px;
  width: 320px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2A2D34;
  border-radius: 15px;
}

.loginContent {
  box-sizing:border-box;
  padding: 0 30px;
}

/*Index.html*/

/*Login block*/

.loginGroupIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

/*Register Block*/

.registerGroupIn {
  display: none;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.chooseType {
  display: flex;
  justify-content: center;
  margin-bottom: 45px
}

.loginText {
  color: #fff;
  margin-top: 10px;
  font-family: 'nunitoblack';
  font-size: 20px;
  text-align: center;
}

.login {
  background: #2A2D34;
  width: 50%;
  height: 40px;
  border-radius: 15px 0 0 0;
}

.register {
  width: 50%;
  background: #707070;
  height: 40px;
  border-radius: 0 15px 0 0;
}

.inputEAndP {
  width: 260px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, otherWebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin-bottom: 20px;
  font-family: 'nunitoregular';
  font-size: 14px;
  height: 32px;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
}

.inputEAndP::placeholder {
  font-size: 14px;
}

.checkbox {
  align-self: flex-start;
  color: #fff;
  font-family: 'nunitoregular';
  font-size: 14px;
  margin-bottom: 30px;
}

.loginButton {
  font-family: 'nunitoblack';
  font-size: 16px;
  width: 150px;
  height: 32px;
  background: #FEDE10;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.registerButton {
  font-family: 'nunitoblack';
  font-size: 16px;
  width: 150px;
  height: 32px;
  background: #FEDE10;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.loginButton:hover {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
}

.registerButton:hover {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
}

/* noaccount */

.noAccountContainer {
  margin-top: 45px;
  background: #FEDE10;
  width: 100%;
  height: 40px;
  border-radius: 0 0 15px 15px;
}

.noAccountLink {
  text-decoration: none;
  color: #1A1D24;
}

.noAccountText{
  font-family: 'nunitoregular';
  font-size: 13px;
  text-align: center;
  position: relative;
  top: 35%;
}

/*sucessreg.html*/

.successReg {
  display: none;
  flex-direction: column;
}

.sucessTitle {
  font-family: 'nunitoblack';
  font-size: 30px;
  color: #FEDE10;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 60px;
}

.sucess {
  font-family: 'nunitoregular';
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

span {
  color: #FEDE10;
}

.checkmail {
  font-family: 'nunitoregular';
  color: #fff;
  font-size: 16px;
  text-align: center;
}

input:focus{
  outline: none;
  box-shadow: 0 0 0 3px #FEDE10;
}
